* {
    font-family: 'Lugrasimo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    max-width: 100%;
}

body{
    background-color: antiquewhite;
    background-image: url("/images/background.webp");
}

.logo-width-max {
    max-width: 8%;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.text-shadow-black {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.footer-text {
    text-align: center;
    font-size: 10pt;
}

.clear-cart-button {
    font-size: 2em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: brown;
    border: red;
}

.add-cart-button {
    background-color: brown;
    border: red;
}

#carousel-container {
    margin-left: 0%;
    margin-right: 0%;
}

#preamble-container {
    margin-top: 5%;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bolder;
}

#visit-us-container {
    font-size: small;
}

