* {
    font-family: 'Lugrasimo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    max-width: 100%;
}

body{
    background-color: antiquewhite;
    background-image: url("/images/background.webp");
}

.scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
	scroll-snap-align: center;
}

::-webkit-scrollbar { 
	display:none; /* Hides scrollbar */
}

.red-bg{
    background-color: antiquewhite;
    background-image: url("/images/background-red.webp");
}

.off-red-bg{
    background-color: antiquewhite;
    background-image: url("/images/background-red.webp");
    filter: brightness(70%);
}

.off-white-bg{
    background-color: antiquewhite;
    background-image: url("/images/background.webp") ;
    border-color: #000;
    filter: saturate(.5);
    filter: brightness(.9);
}

.off-white-bg:checked{
    background-image: url("/images/background-red.webp");
    filter: brightness(.5);
    filter: saturate(.5);
    border-color: black;
}

.dropdown-noback{
    background-color: transparent;
    border-color: #000;
}

.dropdown-back{
    background-image: url("/images/background.webp") ;
    filter: saturate(.5);
    filter: brightness(.9);
}

.select-arrow {
    color: red;
  }

select option {
    background-color: antiquewhite; 
    background-image: url("/images/background.webp") ;
    border-color: #000;
    filter: saturate(.5);
    filter: brightness(.9);
}

.logo-width-max {
    max-width: 8%;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.text-shadow-black {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.text-color-white{
    color: rgb(250, 235, 215);
}

.text-color-white-body{
    color: rgb(250, 235, 215);
}

.text-color-white:hover{
    color: rgb(250, 246, 240);
}

.text-color-gray{
    color: rgb(194, 185, 176);
}

.text-color-gray:hover{
    color: rgb(250, 235, 215);
}

.text-color-gray:active{
    color: rgb(194,185,176);
}

.text-color-gray:focus{
    color: rgb(194,185,176) !important;
}


.no-text-decoration{
    text-decoration: none;
}

.transparent-background{
    background-color: transparent;
}

.transparent-background:hover{
    background-color: transparent;
}

.footer-text {
    text-align: center;
    font-size: 10pt;
}

.clear-cart-button {
    font-size: 2em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: brown;
    border: red;
}

.clear-cart-button:hover {
    background-color: darkred;
    border: red;
}

.add-cart-button {
    background-color: brown;
    border: red;
}

.add-cart-button:hover {
    background-color: darkred;
    border: red;
}

#carousel-container {
    margin-left: 0%;
    margin-right: 0%;
}

#preamble-container {
    margin-top: 5%;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bolder;
}

#visit-us-container {
    font-size: small;
}

